.content{
    display: grid;
    margin: 0px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    padding-left: 10%;
    padding-right: 10%; 
}
.contacts {
    position: absolute;
    top: 10px;
    right: 0px;
    display: block;
    width: 50%;
}
.contacts dl{
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}
.contacts dl dt{
    background: red;
    width: 25%;
}
.contacts dl dd{
    background: black;
    margin: 0px;
    width: 75%;
}
header{
    background-color: gray;
}
header div{
    display: flex;
    padding-left: 10%;
}
header figure{
    position: relative;
    margin-bottom: 20px;
}
body{
    background: white;
    
}
hgroup{
    color: red;
}
p{
    padding: 0px 20px 10px 0px;
}
h3{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 50px;
    margin-left: 20px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: lightgray;
    border-width: 0.5px;
}
h3::before {content: "•"; color: red; 
    display: inline-block;
    width: 0.5em;
    margin-left: -1em;
    margin-top: -17px;
    font-size: 50px;    
}
#contact h3{
    position: absolute;
    left: -10000000px;
    width: 1px;
    height: 1px;
}
.experience h4{
    color: red;
}
.experience-details{
    margin-top: -20px;
    margin-left: 15px;
    font-size: 13px;
    color: gray;
}
.experience-institution{
    font-family:Courier;
}
.experience-institution::before{
    content: "@";
    color: red;
}
.experience-location::before{
    content: "In";
}
.experience-location::after{
    content: "on";
}
.experience-date-separator{
    color: red;
}
.skills-primary div{
    padding: 3px 3px 3px 3px;
    background-color: rgb(211, 193, 193);
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
}
.skills-primary::before{
    content: "Main";
}
.skills-primary div span{
    background: red;
    padding: 1px 1px 1px 1px;
    color: white;
}
[data-skill="5"] span {
    display: block;
    width: 50%;
}
[data-skill="3"] span {
    display: block;
    width: 30%;
}
[data-skill="1"] span {
    display: block;
    width: 10%;
}
.skills-secondary div{
    padding: 3px 3px 3px 3px;
    background-color: lightgray;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
}
.skills-secondary::before{
    content: "Other";
}
.skills-secondary div span{
    background: rgb(212, 48, 48);
    padding: 1px 1px 1px 1px;
    color: white;
}
[data-skill="9"] span {
    display: block;
    width: 90%;
}
[data-skill="7"] span {
    display: block;
    width: 70%;
}